nav {
	/*background-color: rgb(70, 17, 122); */
	/* background-color: rgb(27, 12, 87); */
	background-color: rgb(64, 63, 78);
}

/*
img{
	width: 80px;
	height: 80px;
}
*/

body {
	background-color: rgb(247, 247, 247);
}

/* used to bold first line of publications page */
li p:first-child{
		font-weight: bold;
}

div.col.md-8{
	background-color: red;
}
